/* GLOBAL */
html {
  /* Standard font-size er 16px. 16px = 1em */
  font-size: 10px; 
}

body {
  margin: 0;
  font-size: 1.6rem; /* 16px */
}

img {
  width: 20rem; /* 200px */
  height: 20rem; /* 200px */
  background-color: black;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.6rem; /* 16px */
  list-style-type: none;
}

.hamburgerIcon {
  height: 3.2rem; 
  width: 3.2rem;
  display: none;
}

/* MAIN */
/* Hero */
.hero {
  height: 100dvh; /* Tidligere vh er nå dvh for dynamic view height for alle skjermer*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroIntro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

@media (max-widht: 426px) {
  .heroIntro {
    flex-direction: column;
  }
}

.heroText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroImg {
  width: 100%;
}

/* About */
.about {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.aboutTextContainer,
.aboutImgContainer {
  min-width: 50%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutText {
  width: 30rem;
}

.aboutImg {
  width: 100%;
}

.aboutImgText {
  font-size: 1.2rem;
  font-style: italic;
  margin: 6px; /* Margin kan bruke px for estetisk endring */
}

/* Projects */
.projects {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.projectsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  list-style-type: none;
  padding: 0; /* Padding kan bruke px for estetisk endring */
}

.projectCard {
  height: 40rem; /* Kort ofte bruker en absolutt størrelse med px */
  width: 30rem;
  border: 2px solid black; /* Border kan bruke px for estetisk endring */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
  text-align: center;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: bold;
}

/* MEDIA QUERY */
@media (max-width: 426px) {
/* HEADER */
.navList {
  display: none;
}

.hamburgerIcon {
  display: inline;
}

/* MAIN */
.heroIntro {
  flex-direction: column;
}

.about {
  flex-direction: column;
}

.projectsList {
  flex-direction: column;
}

/* FOOTER */
}